/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  background-color: inherit;
  border: 0;
  cursor: pointer;
}

.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-image: linear-gradient(to right, #EDB314, #D21E10);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @media screen and (max-width: 960px) {}
  @media screen and (max-width: 600px) {

  }
}

.box-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;

  @media screen and (max-width: 960px) {
    margin: 60px 0; 
  }
  @media screen and (max-width: 600px) {
    flex-direction: column;
    margin: 40px 0;
  }
}

/* button */
.button-group {
  display: flex;
}
.button-group .button {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 20px;

  @media screen and (max-width: 960px) {
    width: 60px;
    height: 60px;
  }
  @media screen and (max-width: 600px) {
    width: 50px;
    height: 50px;
  }
}
.button-group .button:last-child {
  margin-right: 0;
}
.button-group .button > img {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 300ms ease-in-out;
}
.button-group .button > img:hover {
  transform: scale(1.2);
}

.vs {
  width: 300px;
  height: 180px;

  @media screen and (max-width: 960px) {
    width: 200px;
    height: 100px;
  }
  @media screen and (max-width: 600px) {
    width: 170px;
    height: 75px;
    margin: 10px 0;
  }
}

.count {
  font-size: 30px;

  @media screen and (max-width: 960px) {
    font-size: 40px;
  }
}

.reset {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  transition: opacity 300ms ease-in-out;

  @media screen and (max-width: 960px) {
    top: 20%;
  }
  @media screen and (max-width: 600px) {
    top: 5%;
  }
}

.how {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
  font-weight: bold;
  color: #fff;
  transition: opacity 300ms ease-in-out;

  @media screen and (max-width: 960px) {
    top: 20%;
  }
  @media screen and (max-width: 600px) {
    top: 5%;
  }
}
.reset:hover, .how:hover {
  opacity: 0.7;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}