.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.error_title {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 25px;
}

.error_desc {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.home_button {
  font-size: 16px;
  font-weight: bold;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  transition: background-color 300ms ease-in-out;
  margin-bottom: 60px;
}
.home_button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.error_code {
  font-size: 24px;
  border-left: 2px solid #e50914;
  padding: 0 12px;
}